<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <link type="text/css" rel="stylesheet" href="{{ asset('/style.css', 'css') }}" />
    </head>
    <body>
        <h1>Asset</h1>
        <img src="{{ asset('/foo.png', 'images') }}">
    </body>
</html>